{% extends "courses/base.html" %}

{% block title %}
    {{ store.display_name }} - {{ course.name }}
{% endblock title %}

{% block content %}
    <div class="row mt-5">
        <div class="col text-center">
            <h1>{{ course.name }}</h1>
            <p>by {{ store.name }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="course-text-wrapper">
                {% for section in course.sections %}
                    <div class="course-toc-spacer  mt-5"></div>
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">{{ section.title }}</div>
                        </div>

                        <ul class="list-group-flush">
                            {% for sub_item in section.content_items %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        {% if sub_item.content_type == "text" %}
                                            <i class="fas fa-align-left"></i>
                                        {% elif sub_item.content_type == "file" %}
                                            <i class="fas fa-file"></i>
                                        {% elif sub_item.content_type == "link" %}
                                            <i class="fas fa-link"></i>
                                        {% elif sub_item.content_type == "video" %}
                                            <i class="fas fa-video"></i>
                                        {% endif %}

                                        <span class="ml-2">{{ sub_item.title }}</span>
                                    </div>

                                    <div class="col-sm-2">
                                        <a href="{% url 'course_content_item' course.slug sub_item.uuid %}" class="btn btn-primary float-right">View</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
